/* Fonts */

@font-face {
    font-family: bold;
    src: url(../font/klavika-bold-webfont.woff);
}

@font-face {
    font-family: medium;
    src: url(../font/klavika-medium-webfont.woff);
}

@font-face {
    font-family: regular;
    src: url(../font/klavika-regular-webfont.woff);
}

@font-face {
    font-family: light;
    src: url(../font/klavika-light-webfont.woff);
}

/* ------------- */

/* General */

* {
    margin: 0;
    box-sizing: border-box
}

h1 {
    font-family: light;
    font-size: 2.3rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

u {
    text-decoration: none;
    border-bottom: 1px solid white;
}

p {
    color: white;
    font-size: 0.7rem;
    font-family: regular;
}

a {
    color: white;
}

.capitalize {
    text-transform: capitalize;
}

ul {
    display: flex;
    color: white;
    list-style: none;
    padding: 0 !important;
}

li {
    border: 1px dotted white;
    height: 1rem;
    width: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-family: regular;
    z-index: 10000;
}

.opacity0 {
    opacity: 0 !important;
    transition: all 500ms;
}

.opacity1 {
    opacity: 1 !important;
    transition: all 1300ms;
}

/* ------------- */

/* Main */

.main-container {
    height: 100vh;
    width: 10000px;
    background-color: black;
}

.background-container {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 9000px;
}

.fixed-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

/* CONTENT */

.header {
    height: 33.3%;
    display: flex;
    justify-content: space-between;
    padding: 1.1rem;
}

.body {
    height: 33.3%;
    display: flex;
    justify-content: space-between;
}

.text-body {
    margin: 0 4rem;
    position: absolute;
}

.footer {
    height: 33.3%;
    display: flex;
}

.left-body {
    display: flex;
    width: 50%;
}

.right-body {
    display: flex;
    width: 50%;
}

.aling-right-body {
    text-align: right;
    right: 0;
}

.left-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
}

.right-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
}

.text-footer-up {
    margin-bottom: 2.5rem;
    margin-left: 1.4rem;
}

.footer-list {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5rem;
    margin-left: 1.4rem;
}

.footer-text-container {
    display: flex;
    align-items: flex-end;
}

.text-footer-right {
    position: absolute;
    margin-left: 1rem;
}

.li-text {
    color: transparent;
    background-color: white;
    height: 75%;
    width: 80%;
}

#cero {
    color: transparent;
}

#nine {
    color: transparent;
}

.contact {
    text-align: right;
    right: 0;
    position: absolute;
    margin: 2rem 1rem;
}

.social-media {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.social-style {
    color: white;
    font-size: 0.7rem !important;
    font-family: regular;
}

.media {
    display: flex;
}

.media-text {
    margin-left: 0.3rem;
    margin-right: 0.6rem;
    margin-bottom: 5rem;
}

/* ICONS */

.angles {
    font-size: 4rem;
    color: white;
    position: fixed;
    z-index: 10000;
}

#angle-left {
    margin-left: 0.8rem;
    left: 0;
}

#angle-right {
    right: 0;
    margin-right: 0.8rem;
}

.logo {
    height: 2.5rem;
    width: 5rem;
    margin: 1.5rem 1rem;
}

/* ----------- */

/* PRELOAD */

#preload {
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 100001;
    color: white;
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.z-index {
    z-index: 0 !important;
}

#padawan {
    height: 7.5rem;
    width: 5.5rem;
    animation-name: floating;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    transition: all;
}

#loader-text{
    font-size: 1rem;
    font-family: light;
    font-weight: 100;
    font-style: italic;
    margin-top: 2rem;
}

.opacity-1-preload {
animation-name: opacity;
animation-duration: 500ms;
transition: all ;

}

@keyframes opacity {
0% {  opacity: 0;}
25% {  opacity: 0.25;}
50% {  opacity: 0.50;}
75% {  opacity: 0.75;}
100% {  opacity: 1;}

}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    5% {
        transform: translateY(1px);
    }
    15% {
        transform: translateY(2px);
    }
    20% {
        transform: translateY(3px);
    }
    25% {
        transform: translateY(4px);
    }
    30% {
        transform: translateY(5px);
    }
    35% {
        transform: translateY(6px);
    }
    40% {
        transform: translateY(7px);
    }
    45% {
        transform: translateY(8px);
    }
    50% {
        transform: translateY(7px);
    }
    55% {
        transform: translateY(6px);
    }
    60% {
        transform: translateY(5px);
    }
    65% {
        transform: translateY(4px);
    }
    70% {
        transform: translateY(3px);
    }
    75% {
        transform: translateY(2px);
    }
    80% {
        transform: translateY(1px);
    }
    85% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(-1px);
    }
    95% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0px);
    }
}